<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  syntaxCheck="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  bootstrap="test/bootstrap.php"
>
  <filter>
    <whitelist>
      <directory suffix=".php">src/mg/PAMI</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="Client">
        <directory suffix=".php">test/client</directory>
    </testsuite>
    <testsuite name="Autoloader">
        <directory suffix=".php">test/autoloader</directory>
    </testsuite>
    <testsuite name="Actions">
        <directory suffix=".php">test/actions</directory>
    </testsuite>
    <testsuite name="Events">
        <directory suffix=".php">test/events</directory>
    </testsuite>
  </testsuites>
</phpunit>
